@import 'vars';
@import 'mixins';

#video-id{
  max-height: 100vh;
  overflow:hidden;
  >article{
    height: 100vh;
    width:100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    

    &#subSection{
      position: relative;
      max-height: 100vh;
      overflow:hidden;
      display: block;

      >article{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        &.subarticle.one{
          //background: blue;
        }
        &.subarticle.two{          
          justify-content: flex-end;
          padding-bottom: 10vh;
          position: relative;
          img{            
            width: 60vw;
          }

          div.ripple{
            z-index: 5;
            position: absolute;            
            display: flex;
            flex-direction: column;

            font-size: getVw(69px);
            span{              
              font-size: getVw(35px);
            }

            &.countries{
              top: 40vh;
              left: 39vw;
            }

            &.documents{
              top: 60vh;
              left: 70vw;
            }
          }

        }

        &.subarticle.three{
          flex-direction: row;
          padding-top: 25vh;
          
          div.containerVideo{
            &.offline{
              margin-right: 6.5vw; 
            }

            div.video{ 
              height: auto;
              width: 25vw;
              position: relative;

              >video{
                width: 100%;
                height: 100%;
                background-color: $white;
              }
              &:after{
                pointer-events: none;
                content: '';
                position: absolute;
                border: 1px solid $green;
                left: -20px;
                top: -20px;
                height: calc(100% - 30px);
                width: 25vw;
              }

              span{
                text-align: center;
                font-size: getVw(24px);
                font-weight: 300;
                display: block;
                transform: translateY(getVh(50px));
              }
      
            }
          }
          div.video{ 
            height: auto;
            width: 25vw;
            position: relative;


            >video{
              width: 100%;
              height: 100%;
              background-color: $white;
            }
            &:after{
              pointer-events: none;
              content: '';
              position: absolute;
              left: 30px;
              top: -20px;
              height: 100%;
              width: calc(25vh% - 100px);
              border: 1px solid $green;
            }
    
          }
        }

        div.flex{
          display: flex;          
          padding-top: 18vh;
        }
      }

      h2{        
        position: absolute;
        top: -55vh;
        width: 100vw;
        height: 190px;
        margin-left: -70px;
        text-align: center;
      }

    }

    &#presentation{
      >div{
        //width: 50%;
        padding: 4vw;
        display: inline-block;

        &.img{
          width: 55%;
          text-align: right;
          .gold{
            width: 34%;
          }
          .blue{ 
            width: 29%;
            position: relative;
            top: -1.8vw;
          }
          video.introsignatureid{
            width: 100%;
            display: block;
          }
        }
        &.text{
          width: 45%;
          img{
            margin-bottom: 5.4vh;
            width: 13vw;
          }
          h2{
            font-size: 41px;  font-weight: 300;
            margin-bottom: 7.6vh;
          }
        }
      }
    }

    &#experience{
      flex-direction: column;
      h2{
        text-align: center;
        transform: translateY(-14vh);
        font-size: 60px;

        span{
          font-size: 34px;
        }
      }

      div.flex.row{   
        width: 100vw;     
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        div.lottie{  
          text-align: center;
          height: 100%;
          display: flex;
          flex-direction: column;
          position: relative; 

          ::ng-deep lottie-animation-view{
            display: flex;
          }

          &.one{
            ::ng-deep lottie-animation-view{
              div{
                width: getVw(108px) !important;
              }
            }
          }
          &.two{            
            margin: 0 15vw;
            ::ng-deep lottie-animation-view{
              div{
                width: getVw(93px) !important;
              }
              p{                
                transform: translateX(-0.5vw);
              }
            }
          }
          &.three{
            ::ng-deep lottie-animation-view{
              div{
                width: getVw(120px) !important;   
              }
            }
          }
          
          ::ng-deep lottie-animation-view{
            height: 100%;
          }
          
          p{
            font-size: getVw(24px);
            //margin-top: 2vh;

            transform: translateY(4vh);
            width: 100%;
            text-align: center;
            bottom: 0;
            font-weight: 400;

            font-size: getVw(34px);

            background: -webkit-linear-gradient(left, #b5bf03 0%, #5aeaf3 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
          }

          span{
            font-size: getVw(24px);
            font-weight: 300;
            transform: translateY(getVh(29px));
            &.big{
              font-size: getVw(50px);;
            }
          }
        }

      }
  
    }

    &#customer{      
      flex-direction: column;

      h2{
        text-align: center;
        transform: translateY(-7vh);
        font-size: 60px;

        span{
          font-size: 34px;
        }
      }
    }
  }
}



/*Nav Subsections*/
.nav {
  z-index: 99;
  position: sticky;
  //top: 50%;
  top: 65vh;
  left: 70px;
  width: 110px;
  height: 190px;
  margin-top: -190px;
  //margin-top: -75px;
  opacity: 1;

  .nav-container {
    position: relative;
    width: 100%;
    height: auto; 
  }

  .lines{          
    transition: transform 500ms linear 500ms;

    &.line1{
      transform: translateY(-120px);          
    }
    &.line2{
      transform: translateY(-140px);          
    }
    &.line3{
      transform: translateY(-160px);          
    }

    .line{
      //display: block;
      margin-bottom: 20px;
      height: 2px;
      width: 32px;
      background: rgba(195, 223, 247, 1);
      border: 1px solid rgba(181, 191, 3, 1);  
      display: flex;
      //overflow-y: hidden;

      transition: transform 500ms linear 500ms, width 300ms linear 0ms, background 300ms linear 0ms, border 300ms linear 0ms;  

      &.bottom{          
        width: 11px;
        background: rgba(195, 223, 247, 1);
        border: 1px solid rgba(255, 255, 255, 1);
    
        transform: translateY(125px);
      }

      &:after {
        content: '';
        display: block;
        width: 50px;
        height: 20px;
        position: absolute;
        z-index: 99;
        transform: translateX(-10px) translateY(-10px);
      }
            

      span{        
      	display: none;
        width: 0%;
        display: block;
        opacity: 1;
        overflow: hidden; 
        display: block;
        position: absolute;
        white-space: nowrap;
        top: -10px;
        left: 50px;

        transition:  width 250ms ease-in-out 00ms, opacity 250ms ease-in-out 00ms;
      }
      &:hover{

      	width: 32px;
      	background: rgba(195, 223, 247, 1);
      	border: 1px solid rgba(181, 191, 3, 1);  
      	//transition: width 300ms linear 0ms, background 300ms linear 0ms, border 300ms linear 0ms;  

        span{
      		display: none;
          transition:  width 500ms ease-in-out 300ms, opacity 500ms ease-in-out 300ms;

          opacity: 1;
          width: 200px;
        }
      }

    } 

  }

  .items{
    top: 1vh;
    position:   relative;
    height: 120px;
    width: 240px;
    .item{
      height: 120px;
      width: 240px;
     //background: red;
      max-height: 120px;
      display: block;
      position: absolute;
      top: 0;
      bottom:auto;
      left:0;
      overflow: hidden; 

      transition: max-height 500ms linear 500ms, top 500ms linear 500ms, bottom 500ms linear 500ms;
      &.hidden{
        //background: yellow;
        bottom:0;
        top:auto;
        max-height: 0px;
        transition: max-height 500ms linear 500ms, top 500ms linear 500ms, bottom 500ms linear 500ms;
        .label{
          height: 120px;
         bottom: 0;
         top: auto;
        }
      }

      .label{
        height: 120px;
        font-size: 48px;
        font-weight: 600;
        position: absolute;        
        top: 0;
        transition: top 500ms linear 500ms, bottom 500ms linear 500ms;
        bottom: auto;

      }

    }

    &.top{
      .item{
        bottom: 0;
        top:auto;

        &.hidden{
          //background: yellow;
          top:0;
          bottom:auto;

          .label{
           top: 0;
           bottom: auto;
          }
        }

        .label{      
          bottom: 0;
          top: auto;
        }

      }

    }

  }

}






            
        