<section id="video-id" mouseWheelTiming #videoId (mouseFinish)="mouseFinish($event,false)">
  
  <article id="presentation">
    <div class="img">
      <img class="gold" src="/assets/img/MV_GOLD.png" alt="">
      <img class="blue" src="/assets/img/MV_BLUE.png" alt="">
    </div>
    <div class="text">
      <img src="/assets/img/videoID.png" alt="">
      <h2>The New Standard for Face Biometrics</h2>
      <button><span>Try it!</span></button>
    </div>
  </article>

  <article id="unique" [ngClass]="{'active' : section > 0}">
    asdasdasdasd
  </article>

  
</section>
