#fondo {
  width: 100vw;
  height: 100vh;
  top:0;
  left: 0;
}
#chica{
  width: 50vw;
  height: 100vh;
  top:0;
  left: 0;

  z-index: 1;
  position: absolute;
}
.footage {
filter:  url(#chromakey);
}

.defs-only {
position: absolute;
height: 0;
width: 0;
overflow: none;
left: -100%;
}
