
<ul id="menu">

  <li>
    <a>
      Solutions
      <section>
        <ul>
        <li>
          <a [routerLink]="['/solutions']">
              <img src="/assets/img/videoid.png" alt="">
              <p>Face-to-machine customer identification:Digital identification by video</p>
          </a>
        </li>
        <li>
          <a [routerLink]="['/solutions/smileId']">
              <img src="/assets/img/smileid.png" alt="">
              <p>The Omni-channel experience Face Biometrics Authentication</p>
          </a>
        </li>
        <li>
          <a [routerLink]="['/solutions/signatureId']">
              <img src="/assets/img/signatureid.png" alt="">
              <p>The most advanced electronic signature, based on PKI in just one click</p>
          </a>
        </li>
        </ul>
        <app-footer></app-footer>

      </section>
    </a>
  </li>
  <li>
    <a [routerLink]="['/Developers']">
      Developers
    </a>
  </li>
  <li>
    <a [routerLink]="['/use-cases']">
      Use cases
    </a>
  </li>
  <li>
    <a [routerLink]="['/Resources']">
      Resources
    </a>
  </li>
  <li>
    <a [routerLink]="['/About']">
      About
    </a>
  </li>
  <li class="lang">
    <app-language></app-language>
  </li>
</ul>
