@import 'vars';
#menu{
  display: flex;
  width: calc(20% + 250px);
  float: right;
  color: $white;
  font-size: 15px;
  font-weight: 300;
  li{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 49px;
    a{
      color: $white;
      transition: all 300ms;
      &:hover{
        color: $green;
      }
    }
    &.icon{
      flex: 0;
    }
  }
}
#bullets{

  float: right;
  width: 32px;
  line-height: 0.9;
  li{
    display: inline-block;
    vertical-align: top;
    height: 6px;
    width: 6px;
    background-color: $green;
    border-radius: 50%;
    &:nth-child(3n+2){
      margin-left: 7px;
      margin-right: 7px;
    }
  }
}
