<ul id="menu" [ngClass]="{'short': !scrollZero, 'opened': !scrollZero &&  wasClicked}" >

  <li>
    <a  class="isOpen withLine withArrow" [ngClass]="{'showLine': showSubmenu}" >
      <span class="show" (mouseenter)="mouseOver($event)" >Solutions</span>
      <section  [ngClass]="{'showMe': showSubmenu}" (mouseleave)="closeSubmenu()">
        <ul>
        <li>
          <a (click)="closeAndGo($event)" [routerLink]="['/solutions/videoId']">
              <img src="/assets/videoid/videoID.png" alt="">
              <p>Face-to-machine customer identification:Digital identification by video</p>
          </a>
        </li>
        <li>
          <a (click)="closeAndGo($event)" [routerLink]="['/solutions/smileId']">
              <img src="/assets/SmileID/smileid.png" alt="">
              <p>The Omni-channel experience Face Biometrics Authentication</p>
          </a>
        </li>
        <li>
          <a (click)="closeAndGo($event)" [routerLink]="['/solutions/signatureId']">
              <img src="/assets/signatureid/signatureid.png" alt="">
              <p>The most advanced electronic signature, based on PKI in just one click</p>
          </a>
        </li>
        </ul>

        <span class="lang onlyOpened">
          <app-language></app-language>
        </span>
        <app-footer></app-footer>

      </section>
    </a>
  </li>
  <li>
    <a [routerLink]="['/Developers']" (mouseenter)="mouseOver($event)" class="withLine showLine" >
      Developers
    </a>
  </li>
  <li>
    <a [routerLink]="['/use-cases']" (mouseenter)="mouseOver($event)" class="withLine showLine" >
      Use cases
    </a>
  </li>
  <li>
    <a [routerLink]="['/Resources']" (mouseenter)="mouseOver($event)" class="withLine showLine" >
      Resources
    </a>
  </li>
  <li>
    <a [routerLink]="['/About']" (mouseenter)="mouseOver($event)" class="withLine showLine" >
      About
    </a>
  </li>
  <li class="lang">
    <app-language></app-language>
  </li>

</ul>
<div id="bullets" *ngIf="!scrollZero" (click)="onClick()" [ngClass]="{'opened': !scrollZero &&  wasClicked}" >
  <div>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    
    <i class="text">close</i>
  </div>
</div>
