<div id="solutions">
  <h2 class="ripple">
    User Identification solutions
    <span>for 6 billion people</span>
  </h2>
    <ul>
      <li [ngStyle]="{'background-image' : 'url(/assets/img/solutions1.jpg),  linear-gradient(#26CAC2, #b5bf03)'}">
        <div>
          <div class="no-hover">
            <img src="/assets/img/videoID.png" alt="">
          </div>
          <div class="hover">
            <h3>Smile & Trust</h3>
            <p>The Omni-channel experience
              Face Biometrics Authentication
            </p>
            <button>
              <span>CTA</span>
            </button>
          </div>
        </div>
      </li>
      <li [ngStyle]="{'background-image' : 'url(/assets/img/solutions1.jpg),  linear-gradient(#26CAC2, #b5bf03)'}">
        <div>
          <div class="no-hover">
            <img src="/assets/img/smileid.png" alt="">
          </div>
          <div class="hover">
            <h3>Smile & Trust</h3>
            <p>The Omni-channel experience
              Face Biometrics Authentication
            </p>
            <button>
              <span>CTA</span>
            </button>
          </div>
        </div>
      </li>
      <li [ngStyle]="{'background-image' : 'url(/assets/img/solutions1.jpg),  linear-gradient(#26CAC2, #b5bf03)'}">
        <div>
          <div class="no-hover">
            <img src="/assets/img/signatureid.png" alt="">
          </div>
          <div class="hover">
            <h3>Smile & Trust</h3>
            <p>The Omni-channel experience
              Face Biometrics Authentication
            </p>
            <button>
              <span>CTA</span>
            </button>
          </div>
        </div>
      </li>
      <li [ngStyle]="{'background-image' : 'url(/assets/img/solutions1.jpg),  linear-gradient(#26CAC2, #b5bf03)'}">
        <div>
          <div class="no-hover">
            <img src="/assets/img/KYC.png" alt="">
          </div>
          <div class="hover">
            <h3>Smile & Trust</h3>
            <p>The Omni-channel experience
              Face Biometrics Authentication
            </p>
            <button>
              <span>CTA</span>
            </button>
          </div>
        </div>
      </li>
    </ul>
</div>
