<div id="solutions">
  <h2 class="ripple">
    User Identification solutions
    <span>for 6 billion people</span>
  </h2>
    <ul>

      <li [ngStyle]="{'background-image' : 'url(/assets/img/solutions1.jpg)'}">
        <div>
          <div class="no-hover">
            <img src="/assets/img/videoID.png" alt="">   
          </div>
          <div class="hover">
            <h3>Smile & Trust</h3>
            <p>The Omni-channel experience
              Face Biometrics Authentication
            </p>
            <button>
              <span>CTA</span>
            </button>
          </div>
        </div>
        
        <video muted="muted"  autobuffer="true">
          <source src="/assets/home/videohome_videoid.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </li>

      <li [ngStyle]="{'background-image' : 'url(/assets/img/solutions1.jpg)'}">
        <div>
          <div class="no-hover">
            <img src="/assets/img/smileid.png" alt=""> 
          </div>
          <div class="hover">
            <h3>Smile & Trust</h3>
            <p>The Omni-channel experience
              Face Biometrics Authentication
            </p>
            <button>
              <span>CTA</span>
            </button>
          </div>
        </div>
          
        <video muted="muted"  autobuffer="true" >
          <source src="/assets/home/videohome_simileid.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </li>

      <li [ngStyle]="{'background-image' : 'url(/assets/img/solutions1.jpg)'}">
        <div>
          <div class="no-hover">
             <img src="/assets/img/signatureid.png" alt=""> 
          </div>
          <div class="hover">
            <h3>Smile & Trust</h3>
            <p>The Omni-channel experience
              Face Biometrics Authentication
            </p>
            <button>
              <span>CTA</span>
            </button>
          </div>
        </div>        

        <video muted="muted"  autobuffer="true" >
          <source src="/assets/home/videohome_segnatureid.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </li>

    </ul>
</div>
