
@import 'vars';
@import 'mixins';
app-circle-img{

}


div.circle{
	display: flex;
	flex-direction: column;
	position: relative; 
	width: getVw(247px);
	height: getVw(247px);
	background: $jungleGreen;
	border-radius: 50%;
	align-items: center;
	justify-content: center;

	&.withMargin{
    	margin-right: getVw(94.56px);
	}

	img {
		&.oneImg{
			width: getVw(297px);
		}
		&.twoImg{
			width: getVw(283px);
		}
		&.threeImg{
			width: getVw(166px);			
			//transform: translateY(3.3vh);
		}
		&.fourImg{
			width: getVw(133px);
		}
	}

	p{
		font-size: getVw(24px);
		font-weight: 300;
		color: rgba(255, 255, 255, 1);
		text-align: center;
		position: absolute;
		bottom: getVh(-65px);
	}
}