@import 'vars';

#features{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  ul{
    width: 60%;
    display: flex;

    justify-content: center;
    align-items: center;
    li{
      text-align: center;
      width: 33%;
      div{
        margin-bottom: 44px;
        position: relative;
        img{}
      }
      h3{
        font-size: 26px;  font-weight: 500;
        margin: 0 auto 20px;
        background: -webkit-linear-gradient(left, #b5bf03 0%, #5aeaf3 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            width: max-content;
      }
      p{
        line-height: 1.2;
        color: $gray;
        font-family: Raleway;
        font-size: 19px;
        font-weight: 100;
      }
      &:nth-child(even){
        margin:10%;
      }
    }
  }
  ::ng-deep lottie-animation-view div{width: 150px !important;height: 150px !important;}
}
