<div id="features">
  <ul>
    <li *ngIf="section >= 3">
      <div>

        <lottie-animation-view
                     [options]="createLottie('icon_multidevice_01')"
                     [width]="100"
                     [height]="100"
                     (animCreated)="handleAnimation($event, 600)">
               </lottie-animation-view>

      </div>
      <h3>Multi-device</h3>
      <p>Works on any device with a camera and internet connection</p>
    </li>
    <li *ngIf="section >= 3">
      <div>

        <lottie-animation-view
                     [options]="createLottie('icon_universal_01')"
                     [width]="100"
                     [height]="100"
                     (animCreated)="handleAnimation($event,1500)">
               </lottie-animation-view>
      </div>
      <h3>Universal</h3>
      <p>Detects & verifies any document in 153 countries</p>
    </li>
    <li *ngIf="section >= 3">
      <div>

        <lottie-animation-view
                     [options]="createLottie('icon_omnichannel_01')"
                     (animCreated)="handleAnimation($event,2100)">
               </lottie-animation-view>
      </div>
      <h3>Omnichannel</h3>
      <p>Works online & in your business’s office</p>
    </li>
  </ul>
</div>
