@import 'vars';
#features{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  ul{
    width: 60%;
    display: flex;

    justify-content: center;
    align-items: center;
    li{
      text-align: center;
      div{
        margin-bottom: 44px;
        img{}
      }
      h3{
        font-size: 26px;  font-weight: 500;margin-bottom: 20px;
      }
      p{
        line-height: 1.2;
        color: $gray;
        font-family: Raleway;
        font-size: 19px;
        font-weight: 100;
      }
      &:nth-child(even){
        margin:10%;
      }
    }
  }
}
