
header{
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 32px 43px 0;
  display: flex;

  >a{
    width: 250px;
    display: block;
    position: relative;
  }
  #logo{
    //width: 250px;
    height: 49px;
    width: auto;
    display: inline-block;
    //opacity: 1;
  }
  #logomenu{
    height: 49px;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    //opacity: 0;
  }
  #logomenu,
  #logo{
    transition:  opacity 300ms linear;
    &.show{
      opacity: 1;
    }
    &.hide{
      opacity: 0;
    }
  }


  >div{
    display: inline-block;
    width: calc(100% - 250px);
    vertical-align: bottom;
  }
}
main{
}
.cursor{
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: 9999;
  pointer-events: none;
  transform:translateX(-5px) translateY(-5px);
  &:after{
    content:'';
    position: absolute;
    background-color: red;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0;
    will-change: transform;
    transition: all 600ms;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f369+0,b5bf03+100&0+0,1+100 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(245,243,105,0) 0%, rgba(255,255,255,.2) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(245,243,105,0) 0%,rgba(255,255,255,.2) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(245,243,105,0) 0%,rgba(255,255,255,.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f5f369', endColorstr='#b5bf03',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  &.hover{
    &:after{
      opacity: 1;
      transform: scale(8);

    }
  }
}
