@import 'vars';
footer{
  position: absolute;
  z-index: 2;
  right: 0;
  padding:15px 40px;
  padding-right: 0;
  bottom: 4.4vh;
  background-color: rgba(48,48,48,.68);
  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    li{
      padding-right:48px;
      a{
        font-size: 15px;  font-weight: 500;
        text-transform: uppercase;
        color:#fff;
        span{
          line-height: 15px;
          height: 1px;
          width: 37px;
          background: $green;
          margin-right: 20px;
          vertical-align: middle;
          display: inline-block;
        }
      }
    }
  }
  .avion{
    width: 35px;
  }
  .linkedIn{
    width:18px;
  }
}