<article class="count">
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/2faconcertid_01.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/2faconcertid_01.jpg" #video1  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/2faconcertid_02.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/2faconcertid_02.jpg" #video2 (mouseout)="video2.pause()" ></video></li>
    <li><video src="./assets/uses-cases/2faconcertid_03.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/2faconcertid_03.jpg" #video3 (mouseout)="video3.pause()" ></video></li>
  </ul>
</article>
<article class="count">
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/2faparapagossmileid_01.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/2faparapagossmileid_01.jpg" #video4  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/2faparapagossmileid_02.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/2faparapagossmileid_02.jpg" #video5 (mouseout)="video5.pause()" ></video></li>
    <li><video src="./assets/uses-cases/2faparapagossmileid_03.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/2faparapagossmileid_03.jpg" #video6 (mouseout)="video6.pause()" ></video></li>
  </ul>
</article>
<article class="count">
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/accesoabranchaoficesconcertid_01.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/accesoabranchaoficesconcertid_01.jpg" #video1  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/accesoabranchaoficesconcertid_02.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/accesoabranchaoficesconcertid_02.jpg" #video2 (mouseout)="video2.pause()" ></video></li>
    <li><video src="./assets/uses-cases/accesoabranchaoficesconcertid_03.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/accesoabranchaoficesconcertid_03.jpg" #video3 (mouseout)="video3.pause()" ></video></li>
  </ul>
</article>
<article class="count">
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/accesoaeidificionconcertid_01.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/accesoaeidificionconcertid_01.jpg" #video4  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/accesoaeidificionconcertid_02.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/accesoaeidificionconcertid_02.jpg" #video5 (mouseout)="video5.pause()" ></video></li>
    <li><video src="./assets/uses-cases/accesoaeidificionconcertid_03.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/accesoaeidificionconcertid_03.jpg" #video6 (mouseout)="video6.pause()" ></video></li>
  </ul>
</article>
<article class="count">
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/accesoabranchaoficesconsmileid_01.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/accesoabranchaoficesconsmileid_01.jpg" #video1  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/accesoabranchaoficesconsmileid_02.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/accesoabranchaoficesconsmileid_02.jpg" #video2 (mouseout)="video2.pause()" ></video></li>
    <li><video src="./assets/uses-cases/accesoabranchaoficesconsmileid_03.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/accesoabranchaoficesconsmileid_03.jpg" #video3 (mouseout)="video3.pause()" ></video></li>
  </ul>
</article>

<article class="count">
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/accesoaplicacioncertid_01.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/accesoaplicacioncertid_01.jpg" #video1  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/accesoaplicacioncertid_02.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/accesoaplicacioncertid_02.jpg" #video2 (mouseout)="video2.pause()" ></video></li>
    <li><video src="./assets/uses-cases/accesoaplicacioncertid_03.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/accesoaplicacioncertid_03.jpg" #video3 (mouseout)="video3.pause()" ></video></li>
  </ul>
</article>
<article class="count">
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/accesoaplicacioncertid_04.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/accesoaplicacioncertid_04.jpg" #video4  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/accesoaplicacioncertid_05.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/accesoaplicacioncertid_05.jpg" #video5 (mouseout)="video5.pause()" ></video></li>
    <li><video src="./assets/uses-cases/accesoaplicacioncertid_06.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/accesoaplicacioncertid_06.jpg" #video6 (mouseout)="video6.pause()" ></video></li>
  </ul>
</article>
<article class="count">
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/accesocontornosconsmileid_01.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/accesocontornosconsmileid_01.jpg" #video1  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/accesocontornosconsmileid_02.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/accesocontornosconsmileid_02.jpg" #video2 (mouseout)="video2.pause()" ></video></li>
    <li><video src="./assets/uses-cases/accesocontornosconsmileid_03.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/accesocontornosconsmileid_03.jpg" #video3 (mouseout)="video3.pause()" ></video></li>
  </ul>
</article>
<article class="count">
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/conferenceid_01.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/conferenceid_01.jpg" #video4  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/conferenceid_02.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/conferenceid_02.jpg" #video5 (mouseout)="video5.pause()" ></video></li>
    <li><video src="./assets/uses-cases/conferenceid_03.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/conferenceid_03.jpg" #video6 (mouseout)="video6.pause()" ></video></li>
  </ul>
</article>
<article class="count">
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/identificacionaltoniveldeconfianza_01.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/identificacionaltoniveldeconfianza_01.jpg" #video1  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/identificacionaltoniveldeconfianza_02.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/identificacionaltoniveldeconfianza_02.jpg" #video2 (mouseout)="video2.pause()" ></video></li>
    <li><video src="./assets/uses-cases/identificacionaltoniveldeconfianza_03.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/identificacionaltoniveldeconfianza_03.jpg" #video3 (mouseout)="video3.pause()" ></video></li>
  </ul>
</article>
<article class="count">
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/pagoenretailcondatfono_01.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/pagoenretailcondatfono_01.jpg" #video4  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/pagoenretailcondatfono_02.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/pagoenretailcondatfono_02.jpg" #video5 (mouseout)="video5.pause()" ></video></li>
    <li><video src="./assets/uses-cases/pagoenretailcondatfono_03.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/pagoenretailcondatfono_03.jpg" #video6 (mouseout)="video6.pause()" ></video></li>
  </ul>
</article>
<article class="count">
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/pagosenretailcertid_01.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/pagosenretailcertid_01.jpg" #video1  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/pagosenretailcertid_02.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/pagosenretailcertid_02.jpg" #video2 (mouseout)="video2.pause()" ></video></li>
    <li><video src="./assets/uses-cases/pagosenretailcertid_03.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/pagosenretailcertid_03.jpg" #video3 (mouseout)="video3.pause()" ></video></li>
  </ul>
</article>

<article class="count">
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/pictureid_01.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/pictureid_01.jpg" #video1  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/pictureid_02.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/pictureid_02.jpg" #video2 (mouseout)="video2.pause()" ></video></li>
    <li><video src="./assets/uses-cases/pictureid_03.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/pictureid_03.jpg" #video3 (mouseout)="video3.pause()" ></video></li>
  </ul>
</article>
<article class="count">
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/signatureconcertidonline_01.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signatureconcertidonline_01.jpg" #video4  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/signatureconcertidonline_02.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signatureconcertidonline_02.jpg" #video5 (mouseout)="video5.pause()" ></video></li>
    <li><video src="./assets/uses-cases/signatureconcertidonline_03.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signatureconcertidonline_03.jpg" #video6 (mouseout)="video6.pause()" ></video></li>
  </ul>
</article>
<article class="count">
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/signaturecongrafoenkiosk_01.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signaturecongrafoenkiosk_01.jpg" #video1  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/signaturecongrafoenkiosk_02.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signaturecongrafoenkiosk_02.jpg" #video2 (mouseout)="video2.pause()" ></video></li>
    <li><video src="./assets/uses-cases/signaturecongrafoenkiosk_03.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signaturecongrafoenkiosk_03.jpg" #video3 (mouseout)="video3.pause()" ></video></li>
  </ul>
</article>

<article class="count">
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/signaturecongrafoonline_01.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signaturecongrafoonline_01.jpg" #video1  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/signaturecongrafoonline_02.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signaturecongrafoonline_02.jpg" #video2 (mouseout)="video2.pause()" ></video></li>
    <li><video src="./assets/uses-cases/signaturecongrafoonline_03.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signaturecongrafoonline_03.jpg" #video3 (mouseout)="video3.pause()" ></video></li>
  </ul>
</article>
<article class="count">
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/signatureconotpenoficina_01.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signatureconotpenoficina_01.jpg" #video4  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/signatureconotpenoficina_02.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signatureconotpenoficina_02.jpg" #video5 (mouseout)="video5.pause()" ></video></li>
    <li><video src="./assets/uses-cases/signatureconotpenoficina_03.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signatureconotpenoficina_03.jpg" #video6 (mouseout)="video6.pause()" ></video></li>
  </ul>
</article>
<article class="count">
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/signatureconotponline_01.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signatureconotponline_01.jpg" #video1  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/signatureconotponline_02.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signatureconotponline_02.jpg" #video2 (mouseout)="video2.pause()" ></video></li>
    <li><video src="./assets/uses-cases/signatureconotponline_03.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signatureconotponline_03.jpg" #video3 (mouseout)="video3.pause()" ></video></li>
  </ul>
</article>
<article class="count">
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/signatureconsimileidenkiosk_01.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signatureconsimileidenkiosk_01.jpg" #video4  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/signatureconsimileidenkiosk_02.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signatureconsimileidenkiosk_02.jpg" #video5 (mouseout)="video5.pause()" ></video></li>
    <li><video src="./assets/uses-cases/signatureconsimileidenkiosk_03.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signatureconsimileidenkiosk_03.jpg" #video6 (mouseout)="video6.pause()" ></video></li>
  </ul>
</article>
<article class="count">
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/signatureconsmileidenoficina_01.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signatureconsmileidenoficina_01.jpg" #video1  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/signatureconsmileidenoficina_02.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signatureconsmileidenoficina_02.jpg" #video2 (mouseout)="video2.pause()" ></video></li>
    <li><video src="./assets/uses-cases/signatureconsmileidenoficina_03.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signatureconsmileidenoficina_03.jpg" #video3 (mouseout)="video3.pause()" ></video></li>
  </ul>
</article>
<article class="count">
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/signatureidconotpenkiosk_01.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signatureidconotpenkiosk_01.jpg" #video4  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/signatureidconotpenkiosk_02.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signatureidconotpenkiosk_02.jpg" #video5 (mouseout)="video5.pause()" ></video></li>
    <li><video src="./assets/uses-cases/signatureidconotpenkiosk_03.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signatureidconotpenkiosk_03.jpg" #video6 (mouseout)="video6.pause()" ></video></li>
  </ul>
</article>
<article class="count">
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/signatureidconsmileidonline_01.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signatureidconsmileidonline_01.jpg" #video1  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/signatureidconsmileidonline_02.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signatureidconsmileidonline_02.jpg" #video2 (mouseout)="video2.pause()" ></video></li>
    <li><video src="./assets/uses-cases/signatureidconsmileidonline_03.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/signatureidconsmileidonline_03.jpg" #video3 (mouseout)="video3.pause()" ></video></li>
  </ul>
</article>
<article class="count">
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/SignatureIDeMail+OTP_01.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/SignatureIDeMail+OTP_01.jpg" #video4  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/SignatureIDeMail+OTP_02.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/SignatureIDeMail+OTP_02.jpg" #video5 (mouseout)="video5.pause()" ></video></li>
    <li><video src="./assets/uses-cases/SignatureIDeMail+OTP_03.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/SignatureIDeMail+OTP_03.jpg" #video6 (mouseout)="video6.pause()" ></video></li>
  </ul>
</article>
