<article>
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/1.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/1.jpg" #video1  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/2.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/2.jpg" #video2 (mouseout)="video2.pause()" ></video></li>
    <li><video src="./assets/uses-cases/3.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/3.jpg" #video3 (mouseout)="video3.pause()" ></video></li>
  </ul>
</article>
<article>
  <h3>Account Opening Process</h3>
  <p>
    Proceso de apertura de cuenta digital con un nivel de confianza equivalente a la identificación cara a cara
  </p>
  <ul>
    <li><video src="./assets/uses-cases/1.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/1.jpg" #video4  (mouseout)="video1.pause()"></video></li>
    <li><video src="./assets/uses-cases/2.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/2.jpg" #video5 (mouseout)="video5.pause()" ></video></li>
    <li><video src="./assets/uses-cases/3.mp4" controls="true" autobuffer="true" poster="./assets/uses-cases/3.jpg" #video6 (mouseout)="video6.pause()" ></video></li>
  </ul>
</article>
