<section id="smile-id" mouseWheelTiming #smileId (mouseFinish)="mouseFinish($event,false)">
  
  <article id="presentation">
    <div class="img">
      <!-- <img class="gold" src="/assets/img/MV_GOLD.png" alt="">
      <img class="blue" src="/assets/img/MV_BLUE.png" alt=""> -->

      <video #video muted="muted"  class="introsmileid" autoplay webkit-playsinline="true" playsinline="true">
          <source src='/assets/SmileID/moviles_smileid.mp4' type="video/mp4">
      </video>

    </div>
    <div class="text">
      <img src="/assets/SmileID/smileid.png" alt="">
      <h2>The New Standard for Face Biometrics</h2>
      <a href="https://etrust-sandbox.electronicid.eu/demo2/" target="_blank">
        <button><span>Try it!</span></button>
      </a>
    </div>
  </article>

  <article id="unique" [ngClass]="{'active' : section > 0}">
    <h2>Unique in market
      <span>Reliable identity registration</span>
    </h2>
    <div >
      <div class="video">
        <video muted="muted"  controls="false" autoplay loop width="320" height="240" controls>
        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>
      </div>
      <div class="desc">
        <p>A diferencia de otras soluciones basadas en la biometría facial como Face ID, Smile ID aporta una confianza absoluta sobre la identidad de las personas gracias a los procesos de registro previos con VideoID.</p>
      </div>
    </div>
  </article>

  <article id="omnichanel" >
    <h2>Omnichannel experience
      <span>The only market solution that can be consumed from any device <br>
            and in any channel, respecting the privacy of the clients</span>
    </h2>

    <div class="flex row" *ngIf="section === 2" [@showHide]=section>
      <app-circle-img *ngFor="let circle of circles"  [data]="circle"></app-circle-img>
    </div>
  </article>

  <article id="security">
    <h2>Security in seconds
      <span>Lorem ipsum dolor sit amet dolor sit amet</span>
    </h2>

    <div class="flex row" *ngIf="section == 3" [@showHide]=section >   
      <div class="lottie one" >  
          <lottie-animation-view
            [options]="createLottie('icone_livenessdetection_smileid')"
            (animCreated)="handleAnimation($event, 750)">
          </lottie-animation-view>
          <p>Liveness detection<span>Liveness detection</span></p>          
      </div>

      <div class="lottie two">  
          <lottie-animation-view
            [options]="createLottie('icone_videorecording_smileid')"
            (animCreated)="handleAnimation($event, 1500)">
          </lottie-animation-view>
          <p>Video recording<span>Video recording</span></p>
      </div>

      <div class="lottie three">  
          <lottie-animation-view
            [options]="createLottie('icone_antispoofing_smileid')"
            (animCreated)="handleAnimation($event, 2250)">
          </lottie-animation-view>
          <p>Anti-Spoofing<span>Anti-Spoofing</span></p>
      </div>
    </div>

    <div class="flex row" *ngIf="section == 3" [@showHide]=section >
      <div class="lottie four">  
          <lottie-animation-view
            [options]="createLottie('icone_100accurate_smileid')"
            (animCreated)="handleAnimation($event, 3000)">
          </lottie-animation-view>
          <p>100% accurate<span>100% accurate</span></p>
      </div>

      <div class="lottie five">  
          <lottie-animation-view
            [options]="createLottie('icone_dynamiccapchatembeded_smileid')"
            (animCreated)="handleAnimation($event, 3750)">
          </lottie-animation-view>
          <p>Dynamic captcha embedded<span>Dynamic captcha embedded</span></p>      
      </div>
    </div>
  </article>

  <article>    
    <app-slider [data]="usesCases"></app-slider>
  </article>

</section>
