<article id="post">
  <nav app-blog-categories></nav>
  <h1 [ngStyle]="{'backgroundImage': 'url(' + (post?.media?.media_details?.sizes?.large ? post?.media?.media_details?.sizes?.large?.source_url : post?.media?.media_details?.sizes?.full?.source_url) + ')'}">
    <div [innerHTML]="post?.title.rendered"></div>
    <span></span>
    <p>{{post?.date_gmt | date:'d/M/yy'}}</p>
  </h1>
  <section>
    <aside>
      <span>Share</span>
    </aside>
    <article>
      <div [innerHTML]="post?.content?.rendered"> </div>
      <ul class="tag">
        <li *ngFor="let tag of post?.tagNames">
          <a>{{tag?.name}}</a></li>
      </ul>

      <h3>Related Post</h3>
      <ul class="related-list">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </article>
    <div>

    </div>
    <nav>
      <button class="left"><span>Previous Post</span></button>
      <button class="right"><span>Next Post</span></button>
    </nav>
  </section>

</article>
