@import 'vars';

#post{
  overflow-y: auto;
  max-height: 100vh;
  min-height: 100vh;
  padding-top: 107px;
  text-align: center;
  h1{
    height: 71vh;
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-bottom: 8.2vh;
    >div{

      width: 70%;
      font-weight: 600;
      font-size: 3.7vw;
      margin-bottom: 2.2vh;
    }
    span{
          display: block;
          margin: 0 auto;
          width: 9px;
          height: 9px;
          background: $green;
          border-radius: 50%;
          margin-bottom: 2.6vh;
          position: relative;
          &:after{
            position: absolute;
            content: '';
            left:-18px;
            width: 9px;
            height: 9px;
            background: $green;
            border-radius: 50%;
          }
          &:before{
            position: absolute;
            content: '';
            right:-18px;
            width: 9px;
            height: 9px;
            background: $green;
            border-radius: 50%;
          }

        }
    p{
      font-size: 1.2vw;
    }
  }
  section{
    background-color: #fff;
    padding: 7.9vh 15vw;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    >nav{
      flex:0 100%;
      button{
       font-size: 18px;
         font-weight: 600;
        >span{
          color:$black;
        }
         border: 1px solid #b5bf03;
         padding: 19px 13px;
         text-shadow: none;
         background: transparent;
         text-transform: uppercase;
        &.left{
          float: left;
        }
        &.right{
          float: right;
        }

      }

    }
    >aside{
      flex:3;
      span{
        text-transform: uppercase;
        font-size: 16px;
        color:$green;
        margin-bottom: 1.4vh;
      }

    }
    >article{

      text-align: left;
      flex:6;
      color: $black;
      ::ng-deep *{
        line-height: 1.8;
      }
      ::ng-deep p{
        font-size:0.95vw;
        padding-bottom: 1vw;
      }
      ::ng-deep strong,::ng-deep b{
        font-weight: bold;
      }
      ::ng-deep a{
        color: $green;
      }
      ::ng-deep h1{

        font-size: 1.3vw;
        &:after,&:before{
          display: none;
        }
      }
      ::ng-deep h2{
        margin-top: 1vw;
        font-size: 1.15vw;
        &:after,&:before{
          display: none;
        }
      }
      ul.tag{
        margin: 4.8vh 0;
        text-align: left;
        li{
          margin: 0 0.6vw;
          display: inline-block;
          a{
            color:$black;
            border: 1px solid $black;
            border-radius: 30px;
            padding: 0.2vw 1vw;
            font-size: 0.65vw;
            text-transform: uppercase;
          }
        }
      }
    }
    >div{
      flex:3;

    }
    h3{
      font-size: 40px;  font-weight: 500;
      color: $green;
      margin-bottom: 2vh;
    }
    .related-list{
      li{
        width: 33%;
        background-color: #eee;
        border-radius: 50%;
        width:10.8vw;
        height:10.8vw;
        display: inline-block;
        &:nth-child(2){
          margin: 0 1vw;
        }
      }
    }

  }
}
