<div id="presentation" #presentation [ngClass]="{'intro' : slide === 0}" (swipe)="mouseFinish($event, true)"  mouseWheelTiming [disableScroll]="disableScroll" (mouseFinish)="mouseFinish($event, false)">
  <h2 [ngClass]="{'hide':slide !== 0}">
    <img  src="/assets/videoid/videoIDbig.png" alt="">
    <span>Face to machine customer identification</span>
  </h2>
  <div id="slider" app-slider [slide]="slide"></div>
</div>
<div id="sello" *ngIf="slide > 0 && slide !=3">
  <b>UNIQUE</b>
  <span>IN THE MARKET</span>
</div>
<app-footer></app-footer>
<div id="videoContainer" (disableScroll)="disableScroll = $event" [ngClass]="{'not-intro' : slide !== 0 }"  app-video></div>
