<div id="presentation" #presentation [ngClass]="{'intro' : this.slide === 0}" (swipe)="mouseFinish($event, true)"  mouseWheelTiming [disableScroll]="disableScroll" (mouseFinish)="mouseFinish($event, false)">
  <h2 [ngClass]="{'hide':this.slide !== 0}">
    <img  src="/assets/img/VideoID.png" alt="">
    <span>Face to machine customer identification</span>
  </h2>
  <div id="slider" app-slider [slide]="slide"></div>
</div>
<div id="sello" *ngIf="this.slide > 0 || this.slide !=2">
  <b>UNIQUE</b>
  <span>IN THE MARKET</span>
</div>
<footer>
  <ul>
    <li><a href=""><span></span> Request a demo </a></li>
    <li><a href=""> <img class="avion" src="/assets/img/avion.png" alt=""></a></li>
    <li><a href=""> <img class="linkedIn"  src="/assets/img/linkedIn.png" alt=""></a></li>
  </ul>
</footer>
<div id="videoContainer" (disableScroll)="disableScroll = $event" [ngClass]="{'not-intro' : this.slide !== 0 }"  app-video></div>
