@import 'vars';
#presentation{
  vertical-align: top;
  color:$white;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width:100%;
  overflow: hidden;
  h2{

    position: absolute;
    width: 60%;
    text-align: center;
    img{
      transform: translateY(0vh);
      opacity: 1;
      height: 6.5vh;
      transition: all 600ms cubic-bezier(1, 0.4, 0.4, 1)   0ms;
      margin-bottom: 2.6vh;
    }
    span{
      font-size: 2.3vw;
      opacity: 1;
      transition: all 600ms cubic-bezier(1, 0.4, 0.4, 1)   0ms;
      transform: translateY(0vh);

    }
    &.hide {
      img{
        opacity: 0;

        transform: translateY(-3vh);

         height: 3.5vh;
      }
      span{
        opacity: 0;
        //font-size: 1vw;
        transform: translateY(-3vh);
      }
    }
  }
}

#slider{
  color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
#videoContainer{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  overflow: hidden;
}
#sello{


  position: absolute;
  z-index: 2;
  width: max-content;
  bottom: 185px;
  right: 49px;
  text-align: center;
  b{
    display: block;
    font-size: 26px;  font-weight: bold;
  }
  span{
    font-size: 21px;
  }
  &:after{
    content: '';
    height: 2px;
    width: 59%;
    background: red;
    position: absolute;
    top: -15px;
    left: 21%;
  background: -moz-linear-gradient(-45deg, $green 0%,  #5aeaf3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, $green 0%, #5aeaf3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, $green 0%, #5aeaf3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#61b5bf03',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  }
  &:before{
    content: '';
    height: 2px;
    width: 59%;
    background: red;
    position: absolute;
    bottom: -15px;
    left: 21%;
     background: -moz-linear-gradient(-45deg, $green 0%,  #5aeaf3 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, $green 0%, #5aeaf3 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, $green 0%, #5aeaf3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#61b5bf03',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  }
}
footer{
  position: absolute;
  z-index: 2;
  right: 0;
  padding:15px 40px;
  padding-right: 0;
  bottom: 4.4vh;
  background-color: rgba(48,48,48,.68);
  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    li{
      padding-right:48px;
      a{
        font-size: 15px;  font-weight: 500;
        text-transform: uppercase;
        color:#fff;
        span{
          line-height: 15px;
          height: 1px;
          width: 37px;
          background: $green;
          margin-right: 20px;
          vertical-align: middle;
          display: inline-block;
        }
      }
    }
  }
  .avion{
    width: 35px;
  }
  .linkedIn{
    width:18px;
  }
}
