/* You can add global styles to this file, and also import other style files */
@import 'reset-css';
@import 'vars';
@keyframes ripple {
    0% {transform: scale(0);opacity: 1;}
    50% {opacity: 1;}
    100% {transform: scale(1);opacity: 0;}
}
@keyframes rippled {
    0% {transform: scale(0);opacity: 1;}
    50% {opacity: 1;}
    100% {transform: scale(1.1);opacity: 0;}
}
*{
	font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  outline: none;
  line-height: 1.2;
  cursor: none;
  user-select: none;

}
html{
  cursor: none;
  scroll-behavior: smooth;
}
html body{
  background-color: $black;
  color:$white;
  overflow:hidden;
}
h2{
  position:relative;
  font-size: 2.85vw;
  font-weight: 500;
  >span{
    color: $green;
    margin: 0 auto;
    margin-top: 0.3vh;

    width: max-content;
    font-size: 42px;
    display: block;
    font-weight: 400;
    text-align: center;
    background: -webkit-linear-gradient(left, $green 0%, #5aeaf3 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

}
 button{
  color:$green;

  text-shadow: 0 0 11px rgba(0, 0, 0, 0.28);
    padding: 1vw 7.7vh;
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 1.1vw;
  font-weight: 500;
  border-width: 1px;
  border-style: solid;
  -moz-border-image: -moz-linear-gradient(left bottom, #5aeaf3  0%, $green 100%);
  -webkit-border-image: -webkit-linear-gradient(left bottom, #5aeaf3  0%, $green 100%);
  border-image: linear-gradient(to right top, #5aeaf3  0%, $green 100%);
  border-image-slice: 1;
  transition: all 300ms;
  position: relative;
  background-color: transparent;
  z-index: 1;
  span{
    position: relative;
    z-index: 1;
    color:#fff;
  }
  &:after{
    transition: opacity 300ms;
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: calc(100% + 1px);
    height: 100%;
    background: linear-gradient(45deg, #5aeaf3 0%, $green 100%);
    opacity: 0;


  }
  &:hover{
    &:after{
      opacity: 1;
    }

  }
}
