@import 'vars';
@import 'mixins';


::ng-deep app-circle-img{

}

@keyframes cahngeBG {
  0% {background: transparent;}
  100% {background: $jungleGreen;}
}
@-webkit-keyframes cahngeBG {
  0% {background: transparent;}
  100% {background: $jungleGreen;}
}

div.circle{
	display: flex;
	flex-direction: column;
	position: relative;
	width: getVw(247px);
	height: getVw(247px);
	background: transparent;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	background: $jungleGreen;


	&.withMargin{
    	margin-right: getVw(94.56px);
	}

	img {
		opacity: 1;

		&.one{
			width: getVw(106px);
		}
		&.two{
			width: getVw(297px);
		}
		&.three{
			width: getVw(283px);		
			transform: translateY(3.3vh);
		}
		&.four{
			width: getVw(166px);
		}
		&.five{
			width: getVw(185px);
		}
	}

	p{
		font-size: getVw(24px);
		font-weight: 300;
		color: rgba(255, 255, 255, 1);
		text-align: center;
		position: absolute;
		//bottom: getVh(-65px);
		bottom: 0;
		opacity: 0;

		transition: bottom 200ms linear 100ms, opacity 200ms linear 100ms; 
	}
}