@import 'vars';

.group {
  position: absolute;
  width: 40%;
  height: 100%;
  right: 3%;

  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  >div {
    flex: 0 100%;

    div.slide {
      display: block;

      img {
        margin: 0 auto;
        display: block;
        width: 74px;
        margin-bottom: 25px;
        transform: translateY(14vh);
        opacity: 0;
        transition: all 600ms cubic-bezier(1, .4, .4, 1) 300ms;
        &.smile{
          margin: 3.3vh auto;
        }
      }

      h2 {
        line-height: .96;

        width: max-content;
        font-size: 117px;
        font-weight: 500;
        margin-bottom: 13px;
        transform: translateY(14vh);
        opacity: 0;
        transition: all 600ms cubic-bezier(1, .4, .4, 1) 250ms;

        >span {
          margin-left: 0;

          &.inline-block {
            display: inline-block;
            font-size: 61px;
          }
        }

        >ul {
          margin-top: 2.2vh;
          line-height: 0;

          li {

            margin-right: 30px;
            line-height: 1;
            display: inline-block;
            font-size: 22px;
            font-weight: 300;

            img {
              height: 18px;
              width: auto;
              float: left;
              margin-right: 10px;
            }
          }
        }
        &.full{width: 100%;
        text-align: center;}
      }

      p {
        color: #9C9C9B;
        font-size: 17px;
        font-weight: 300;
        line-height: 22px;
        transform: translateY(14vh);
        opacity: 0;
        transition: all 600ms cubic-bezier(1, .4, .4, 1) 200ms;

        dt {
          display: table-cell;
          float: left;
          margin-right: 10px;
        }

        dd {
          color: $white;
          display: table-cell;
        }
      }

      &:nth-child(2) {
        img {
          transition: all 600ms cubic-bezier(1, .4, .4, 1) 150ms;
        }

        h3 {
          transition: all 600ms cubic-bezier(1, .4, .4, 1) 100ms;
        }

        p {
          transition: all 600ms cubic-bezier(1, .4, .4, 1) 50ms;
        }
      }
    }

    #try-it {

      text-align: center;
      button {

        padding: 11px 71px;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 35px;
        cursor: pointer;
        font-size: 23px;
        transform: translateY(14vh);
        opacity: 0;
        transition: all 600ms cubic-bezier(1, .4, .4, 1) 450ms;
      }

      p {
        color: $white;
        font-size: 20px;
        font-weight: 500;
        transform: translateY(14vh);
        opacity: 0;
        transition: all 600ms cubic-bezier(1, .4, .4, 1) 550ms;
      }
    }

  }

  &.active {
    >div {
      div.slide {
        img {

          transform: translateY(0vh);
          transition: all 600ms cubic-bezier(1, .4, .4, 1) 400ms;
          opacity: 1;
        }

        h2 {
          transform: translateY(0vh);
          transition: all 600ms cubic-bezier(1, .4, .4, 1) 450ms;
          opacity: 1;
        }

        p {

          transform: translateY(0vh);
          transition: all 600ms cubic-bezier(1, .4, .4, 1) 500ms;
          opacity: 1;
        }

        &:nth-child(2) {
          img {
            transition: all 600ms cubic-bezier(1, .4, .4, 1) 1250ms;
          }

          h3 {
            transition: all 600ms cubic-bezier(1, .4, .4, 1) 1300ms;
          }

          p {
            transition: all 600ms cubic-bezier(1, .4, .4, 1) 1350ms;
          }
        }
      }

      #try-it {
        button {

          transform: translateY(0vh);
          transition: all 600ms cubic-bezier(1, .4, .4, 1) 1450ms;
          opacity: 1;

        }

        p {
          color: $white;

          font-size: 20px;
          font-weight: 500;
          transform: translateY(0vh);
          transition: all 600ms cubic-bezier(1, .4, .4, 1) 1550ms;
          opacity: 1;
        }
      }
    }

  }
}
