<div class="group" [ngClass]="{'active' : slide === 1}">
  <div>
    <div class="slide">
      <h2>
      <span>Real time</span>
      security
    </h2>
    </div>
  </div>
</div>
<div class="group" [ngClass]="{'active' : slide === 2}">
  <div>
    <div class="slide">
      <h2>
      Compliant
      <span>KYC/AML5</span>
      <ul>
        <li><img src="/assets/img/verde.png" alt="">Video</li>
        <li><img src="/assets/img/rojo.png" alt="">Selfie</li>
      </ul>
    </h2>
    </div>
  </div>
</div>
<div class="group" [ngClass]="{'active' : slide === 3}">
  <div>
    <div class="slide">
      <h2>Smile <span class="inline-block">&</span> trust</h2>
    </div>
    <div id="try-it">
      <div>
        <button>Try it!</button>
        <p>Learn more about Video ID</p>
      </div>
    </div>
  </div>
</div>
