<div class="group" [ngClass]="{'active' : slide === 1}">
  <div>
  <div class="slide">
<!--     <img src="/assets/img/mundo.png" alt="">
     -->    <h3>One & only market solution</h3>
<!--     <p>Any device, any country</p>
   -->  </div>

  <div class="slide">
<!--     <img src="/assets/img/security.png" alt="">
     -->    <h3>Real time security</h3>
<!--     <p>No back processing</p>
   -->  </div>
  </div>
</div>
<div class="group" [ngClass]="{'active' : slide === 2}">
  <div>
  <div class="slide">
<!--     <img src="/assets/img/mundo.png" alt="">
     -->    <h3>One & only market solution</h3>
   <p>Any device, any country</p>
     </div>

  <div class="slide">
<!--     <img src="/assets/img/compliance.png" alt="">
     -->    <h3>Compliant KYC/AML5</h3>
    <p>Video       Selfie</p>
  </div>
  </div>
</div>
<div class="group" [ngClass]="{'active' : slide === 3}">
  <div>
  <div class="slide">

    <h3>Smile & Trust</h3>
  </div>
  <div id="try-it" >
    <div>
      <button>Try it!</button>
      <p>Learn more about Video ID</p>
    </div>
  </div>
  </div>
</div>
