<div id="contact">
  <div>
    <h2>
      <span>Would you like to know more?</span>
      get in touch here
    </h2>
    <form>
      <input type="text" placeholder="NAME">
      <input type="text" placeholder="PROFESSIONAL  E-MAIL">
      <textarea name="" id="" cols="30" rows="10" placeholder="ENTER  YOUR  MESSAGE"></textarea>
    </form>
    <button><span>Send message</span></button>
    <ul>
      <li >
        <a class="custom-cursor" target="_blank" href="https://www.linkedin.com/company/software-eid/"><img src="/assets/img/linkedIn_logo.png" alt=""></a>
      </li>
      <li >
        <a class="custom-cursor center" target="_blank" href="https://etrust-sandbox.electronicid.eu/demo2/">
          <span class="line custom-cursor">TRY VIDEO ID </span>
        </a>
      </li>
      <li>
        <p class="custom-cursor sigup" (click)="showNewsletter = !showNewsletter">Sign up newsletter!</p>
        <div [ngClass]="{'visible' : showNewsletter}"  class="newsletter">
          <input type="text"  placeholder="E-MAIL">
          <button class="small"><span>Subscribe</span></button>
          <a>¿Quién tiene el control de mis datos?</a>
        </div>
      </li>
    </ul>
    <span>© Electronic Identification, 2018    |     All rights reserved</span>
  </div>
</div>
